/* inline style attribute> id selector > class selector > element selector */

h1 {
    color: red;
}

/* 0,0,0,1  -- 1 */

.h1class {
    color: green;
}

/* 0,0,1,0  -- 1 */

#h1id {
    color: pink;
}

.tclass {
    color: blue;
}